
@using UI.Areas.Admin;

@if (ViewBag.ProcessState == BLL.General.Message.AddSuccess)
{
    <div class="alert alert-success">
        <strong>Success!! Add Operation was completed Successfully</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Message.EmptyArea)
{
    <div class="alert alert-danger">
        <strong>Error!! Please fill neccessary area</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Message.UpdateSuccess)
{
    <div class="alert alert-success">
        <strong>Success!! Update Operation was completed Successfully</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Message.ImageMissing)
{
    <div class="alert alert-danger">
        <strong>Error!! Please select an Image</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Message.ExtensionError)
{
    <div class="alert alert-danger">
        <strong>Error!! Please select fill with true extension</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Message.GeneralError)
{
    <div class="alert alert-danger">
        <strong>Error!!</strong>
    </div>
}
