
@{
    ViewBag.Title = "UpdateSocialMedia";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">

    <h1>Update Social Media</h1>
    <ul class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Social Media</a></li>
        <li class="breadcrumb-item active"><a>Update Social Media</a></li>
    </ul>
</section>
<br />
<div class="card-footer">
    <a href="/Admin/SocialMedia/SocialMediaList" class="btn btn-primary">Social Media List</a>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("UpdateSocialMedia", "SocialMedia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/SocialMediaForm")
                }
            </div>
        </div>
    </div>
</section>

